<div ng-controller="guestCtrl as ctrl">
    <form method="POST" name="guestForm" novalidate>
        <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-user-plus"></i> Add Guest Form</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-6 col-sm-6 col-xs-12" for="numberReservations">Number of
                            Reservations *</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" class="form-control" id="numberReservations" name="numberReservations"
                                   ng-model="guest.numberReservations" min="0" max="10000" required="required"/>
                            <div ng-show="guestForm.$submitted || guestForm.numberReservations.$touched"
                                 class="validation-message">
                                <span ng-show="guestForm.numberReservations.$error.required">This field is required</span>
                                <span ng-show="guestForm.numberReservations.$error.min">Number is too small</span>
                                <span ng-show="guestForm.numberReservations.$error.max">Number is too big</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-6 col-sm-6 col-xs-12" for="user">User</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control roles" id="user" name="user" ng-model="guest.userID"
                                    ng-options="item.id as item.username for item in usersList">
                            </select>
                            <div ng-show="guestForm.$submitted || guestForm.user.$touched" class="validation-message">
                                <span ng-show="guestForm.user.$error.required">This field is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-8 col-sm-10 col-xs-12 col-sm-offset-2 col-md-offset-4">
                            <button type="submit" ng-click="submit(guest)" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                            <a type="button" class="btn btn-primary" href="#/guests/list">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-id-card-o"></i> Personal Data</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="fullName">Full Name *</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" class="form-control" id="fullName" name="fullName"
                                   ng-model="guest.personalData.fullName" minlength="4" maxlength="100"
                                   required="required"/>
                            <div ng-show="guestForm.$submitted || guestForm.fullName.$touched"
                                 class="validation-message">
                                <span ng-show="guestForm.fullName.$error.required">This field is required</span>
                                <span ng-show="guestForm.fullName.$error.minlength">Input too short</span>
                                <span ng-show="guestForm.fullName.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="phone">Phone Number *</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" class="form-control" id="phone" name="phone"
                                   ng-model="guest.personalData.phone" ng-pattern="/^[0-9]+$/"
                                   minlength="10" maxlength="20" required="required"/>
                            <div ng-show="guestForm.$submitted || guestForm.phone.$touched"
                                 class="validation-message">
                                <span ng-show="guestForm.phone.$error.required">This field is required</span>
                                <span ng-show="guestForm.phone.$error.minlength">Input too short</span>
                                <span ng-show="guestForm.phone.$error.maxlength">Input too long</span>
                                <span ng-show="guestForm.phone.$error.pattern">Input should contain only digits</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="egn">EGN *</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" class="form-control" id="egn" name="egn"
                                   ng-model="guest.personalData.egn" ng-pattern="/^[0-9]+$/"
                                   minlength="10" maxlength="10" required="required"/>
                            <div ng-show="guestForm.$submitted || guestForm.egn.$touched"
                                 class="validation-message">
                                <span ng-show="guestForm.egn.$error.required">This field is required</span>
                                <span ng-show="guestForm.egn.$error.minlength">Input too short</span>
                                <span ng-show="guestForm.egn.$error.maxlength">Input too long</span>
                                <span ng-show="guestForm.egn.$error.pattern">Input should contain only digits</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="address">Address *</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" class="form-control" id="address" name="address"
                                   ng-model="guest.personalData.address" minlength="4" maxlength="200"
                                   required="required"/>
                            <div ng-show="guestForm.$submitted || guestForm.address.$touched"
                                 class="validation-message">
                                <span ng-show="guestForm.address.$error.required">This field is required</span>
                                <span ng-show="guestForm.address.$error.minlength">Input too short</span>
                                <span ng-show="guestForm.address.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="identityNumber">Identity Number
                            *</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" class="form-control" id="identityNumber" name="identityNumber"
                                   ng-model="guest.personalData.identityNumber" ng-pattern="/^[0-9]+$/"
                                   minlength="9" maxlength="9" required="required"/>
                            <div ng-show="guestForm.$submitted || guestForm.identityNumber.$touched"
                                 class="validation-message">
                                <span ng-show="guestForm.identityNumber.$error.required">This field is required</span>
                                <span ng-show="guestForm.identityNumber.$error.minlength">Input too short</span>
                                <span ng-show="guestForm.identityNumber.$error.maxlength">Input too long</span>
                                <span ng-show="guestForm.identityNumber.$error.pattern">Input should contain only digits</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="identityIssueDate">Identity Issue
                            Date *</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" class="form-control" id="identityIssueDate" name="identityIssueDate"
                                   ng-model="guest.personalData.identityIssueDate" minlength="4" maxlength="10"
                                   required="required"/>
                            <div ng-show="guestForm.$submitted || guestForm.identityIssueDate.$touched"
                                 class="validation-message">
                                <span ng-show="guestForm.identityIssueDate.$error.required">This field is required</span>
                                <span ng-show="guestForm.identityIssueDate.$error.minlength">Input too short</span>
                                <span ng-show="guestForm.identityIssueDate.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="identityIssuedBy">Identity Issued
                            By *</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" class="form-control" id="identityIssuedBy" name="identityIssuedBy"
                                   ng-model="guest.personalData.identityIssuedBy" minlength="4" maxlength="50"
                                   required="required"/>
                            <div ng-show="guestForm.$submitted || guestForm.identityIssuedBy.$touched"
                                 class="validation-message">
                                <span ng-show="guestForm.identityIssuedBy.$error.required">This field is required</span>
                                <span ng-show="guestForm.identityIssuedBy.$error.minlength">Input too short</span>
                                <span ng-show="guestForm.identityIssuedBy.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="identityExpireDate">Identity
                            Expire
                            Date *</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" class="form-control" id="identityExpireDate" name="identityExpireDate"
                                   ng-model="guest.personalData.identityExpireDate" minlength="4" maxlength="10"
                                   required="required"/>
                            <div ng-show="guestForm.$submitted || guestForm.identityExpireDate.$touched"
                                 class="validation-message">
                                <span ng-show="guestForm.identityExpireDate.$error.required">This field is required</span>
                                <span ng-show="guestForm.identityExpireDate.$error.minlength">Input too short</span>
                                <span ng-show="guestForm.identityExpireDate.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                </div>
            </div>
        </div>
    </form>
</div>