<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-users"></i> History for {{guest.personalData.fullName}}</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link" style="visibility:hidden"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="collapse-link" style="visibility:hidden"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="btn" href="#!/guests/add" role="button" aria-expanded="false"
                       title="Create new guest"><i
                            class="fa fa-user-plus"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table datatable="" dt-options="dtHistoryOptions" dt-columns="dtHistoryColumns"
                   dt-instance="dtHistoryInstance"
                   class="table table-hover" style="width:100%"></table>
        </div>
    </div>
</div>