<div class="form login_form">
    <section class="login_content">
        <form name="loginForm" ng-submit="login()">
            <h2><img src="img/has_logo.png" style="width:100%" alt="HAS logo"/></h2>
            <h1>Hotel Administration System</h1>
            <div class="form-group">
                <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username"
                       placeholder="Username" minlength="3" maxlength="32"
                       required="required" style="margin-bottom:3px"/>
                <div ng-show="loginForm.$submitted" class="validation-message">
                    <span ng-show="loginForm.username.$error.required">This field is required</span>
                    <span ng-show="loginForm.username.$error.minlength">Input too short</span>
                    <span ng-show="loginForm.username.$error.maxlength">Input too long</span>
                </div>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control"
                       ng-model="credentials.password" placeholder="Password"
                       minlength="8" maxlength="16" required="required" style="margin-bottom:3px"/>
                <div ng-show="loginForm.$submitted" class="validation-message">
                    <span ng-show="loginForm.password.$error.required">This field is required</span>
                    <span ng-show="loginForm.password.$error.minlength">Input too short</span>
                    <span ng-show="loginForm.password.$error.maxlength">Input too long</span>
                    <!-- <span ng-show="loginForm.password.$error.pattern">Incorrect pattern!</span> -->
                </div>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="isLoginError"><strong>Error!</strong> Wrong
                username/password!
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Log in</button>
                <a class="btn btn-warning" href="booking.html" style="position:relative;top:-8px;font-size:14px;">Go to
                    booking</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
                <div>
                    <p>©2017 All Rights Reserved.</p>
                    <p>Hotel Administartion System (HAS) is a software developed by VineSoft</p>
                </div>
            </div>
        </form>
    </section>
</div>