<div class="form login_form">
    <section class="login_content">
        <form ng-submit="login()">
            <h2><img src="img/has_logo.png" style="width:100%" alt="HAS logo"/></h2>
            <h1>Hotel Administration System</h1>
            <div>
                <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username"
                       placeholder="Username" required="required"/>
            </div>
            <div>
                <input type="password" id="password" name="password" class="form-control"
                       ng-model="credentials.password" placeholder="Password" required="required"/>
            </div>
            <div>
                <button type="submit" class="btn btn-default submit">Log in</button>
                <!-- <a class="reset_pass" href="#">Lost your password?</a> -->
            </div>

            <div class="clearfix"></div>

            <div class="separator">
                <div>
                    <p>©2017 All Rights Reserved.</p>
                    <p>Hotel Administartion System (HAS) is a software developed by VineSoft</p>
                </div>
            </div>
        </form>
    </section>
</div>