<div class="col-xs-12" id="scheduleContainer" ng-controller="calendarCtrl as ctrl">
    <div class="form-inline">
        <input type="text" size="24" id="dateRange" name="dateRange" class="form-control"/>
        <select class="form-control" ng-model="ctrl.selectedRoomType" ng-change="changeRoomType()"
                ng-options="roomTypes.indexOf(item) as item for item in roomTypes">
        </select>

        <div class="legend">
            <div>
                <div class="available"></div>
                <span>Available</span>
            </div>
            <div>
                <div class="in-use"></div>
                <span>Taken</span>
            </div>
            <div>
                <div class="for-cleaning"></div>
                <span>For cleaning</span>
            </div>
        </div>
    </div>

    <daypilot-scheduler id="scheduler"
                        config="config"
                        events="events.list"
                        on-event-selected="onEventSelected(args)"
                        on-event-moved="onEventMoved(args)">
    </daypilot-scheduler>

    <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            ng-click="reset()"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" ng-hide="isAdditionalGuest">Add a New Reservation</h4>
                    <h4 class="modal-title" ng-hide="!isAdditionalGuest">Add Additional Guest</h4>

                    <div class="row" ng-hide="isAdditionalGuest">
                        <div class="col-sm-4">
                            <label for="group">
                                <input type="checkbox" id="group" ng-model="isGroupReservation"/> Group
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <label for="groupExisting">
                                <input type="checkbox" id="groupExisting" ng-model="isExistingGroup"/>
                                Part of
                            </label>
                            <select ng-model="selectedGroupReservation"
                                    ng-options="item as (item.startDate + ' - ' + item.endDate + ' : ' + item.reservationGuests[0].guest.personalData.fullName) for item in groupReservationsList track by item.id"
                                    ng-disabled="!isExistingGroup">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-body row">

                    <div class="row-fluid" ng-hide="isAdditionalGuest">
                        <div class="form-group col-xs-4">
                            <label for="breakfast">
                                <input type="checkbox" id="breakfast" name="breakfast"
                                       ng-disabled="reservationGuest.reservation.allInclusive || isExistingGroup"
                                       ng-model="reservationGuest.reservation.breakfast"/>
                                Breakfast
                            </label>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="dinner">
                                <input type="checkbox" id="dinner" name="dinner"
                                       ng-disabled="reservationGuest.reservation.allInclusive || isExistingGroup"
                                       ng-model="reservationGuest.reservation.dinner"/>
                                Dinner
                            </label>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="allInclusive">
                                <input type="checkbox" id="allInclusive" name="allInclusive"
                                       ng-disabled="isExistingGroup"
                                       ng-model="reservationGuest.reservation.allInclusive"/>
                                All Inclusive
                            </label>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row-fluid" ng-hide="guests.list.length == 0">
                        <div class="form-group col-xs-12">
                            <label>
                                <input type="radio" name="isNewGuest" ng-model="isNewGuest" ng-value="false"/>
                                Select existing guest
                            </label>
                            <ui-select ng-model="guests.selectedGuest">
                                <ui-select-match>{{$select.selected.personalData.fullName}}</ui-select-match>
                                <ui-select-choices
                                        repeat="item in (guests.list | filter: $select.search) track by item.id">
                                    <div ng-bind-html="item.personalData.fullName | highlight: $select.search"></div>
                                    <small ng-bind-html="item.personalData.egn | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row-fluid">
                        <div class="form-group col-xs-12">
                            <label>
                                <input type="radio" name="isNewGuest" ng-model="isNewGuest" ng-value="true"/>
                                ...or create new
                            </label>
                        </div>
                    </div>

                    <form method="POST" name="reservationForm" novalidate ng-disabled="!isNewGuest">

                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="fullName">Full Name *</label>
                            <input type="text" class="form-control" id="fullName" name="fullName"
                                   ng-model="reservationGuest.guest.personalData.fullName" minlength="4" maxlength="100"
                                   required="required" ng-disabled="!isNewGuest"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.fullName.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.fullName.$error.required">This field is required</span>
                                <span ng-show="reservationForm.fullName.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.fullName.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="phone">Phone Number *</label>
                            <input type="text" class="form-control" id="phone" name="phone"
                                   ng-model="reservationGuest.guest.personalData.phone" ng-pattern="/^[0-9]+$/"
                                   minlength="10" maxlength="20" required="required" ng-disabled="!isNewGuest"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.phone.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.phone.$error.required">This field is required</span>
                                <span ng-show="reservationForm.phone.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.phone.$error.maxlength">Input too long</span>
                                <span ng-show="reservationForm.phone.$error.pattern">Input should contain only digits</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="egn">EGN *</label>
                            <input type="text" class="form-control" id="egn" name="egn"
                                   ng-model="reservationGuest.guest.personalData.egn" ng-pattern="/^[0-9]+$/"
                                   minlength="10" maxlength="10" required="required" ng-disabled="!isNewGuest"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.egn.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.egn.$error.required">This field is required</span>
                                <span ng-show="reservationForm.egn.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.egn.$error.maxlength">Input too long</span>
                                <span ng-show="reservationForm.egn.$error.pattern">Input should contain only digits</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="address">Address *</label>
                            <input type="text" class="form-control" id="address" name="address"
                                   ng-model="reservationGuest.guest.personalData.address" minlength="4" maxlength="200"
                                   required="required" ng-disabled="!isNewGuest"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.address.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.address.$error.required">This field is required</span>
                                <span ng-show="reservationForm.address.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.address.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="identityNumber">Identity Number *</label>
                            <input type="text" class="form-control" id="identityNumber" name="identityNumber"
                                   ng-model="reservationGuest.guest.personalData.identityNumber" ng-pattern="/^[0-9]+$/"
                                   minlength="9" maxlength="9" required="required" ng-disabled="!isNewGuest"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.identityNumber.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.identityNumber.$error.required">This field is required</span>
                                <span ng-show="reservationForm.identityNumber.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.identityNumber.$error.maxlength">Input too long</span>
                                <span ng-show="reservationForm.identityNumber.$error.pattern">Input should contain only digits</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="identityIssueDate">Identity Issue Date *</label>
                            <input type="text" class="form-control" id="identityIssueDate" name="identityIssueDate"
                                   ng-model="reservationGuest.guest.personalData.identityIssueDate" minlength="4"
                                   maxlength="10" required="required" ng-disabled="!isNewGuest"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.identityIssueDate.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.identityIssueDate.$error.required">This field is required</span>
                                <span ng-show="reservationForm.identityIssueDate.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.identityIssueDate.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="identityIssuedBy">Identity Issued By *</label>
                            <input type="text" class="form-control" id="identityIssuedBy" name="identityIssuedBy"
                                   ng-model="reservationGuest.guest.personalData.identityIssuedBy" minlength="4"
                                   maxlength="50" required="required" ng-disabled="!isNewGuest"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.identityIssuedBy.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.identityIssuedBy.$error.required">This field is required</span>
                                <span ng-show="reservationForm.identityIssuedBy.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.identityIssuedBy.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="identityExpireDate">Identity Expire Date *</label>
                            <input type="text" class="form-control" id="identityExpireDate" name="identityExpireDate"
                                   ng-model="reservationGuest.guest.personalData.identityExpireDate" minlength="4"
                                   maxlength="10" required="required" ng-disabled="!isNewGuest"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.identityExpireDate.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.identityExpireDate.$error.required">This field is required</span>
                                <span ng-show="reservationForm.identityExpireDate.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.identityExpireDate.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-click="submit()" class="btn btn-primary">Submit</button>
                    <button type="reset" ng-click="reset()" class="btn btn-default">Reset</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div id="infoModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="fa fa-info"></i> Reservation Info</h4>
                </div>
                <div class="modal-body">
                    <p><strong>Start date:</strong> {{reservationInfo.startDate}}</p>
                    <p><strong>End date:</strong> {{reservationInfo.endDate}}</p>
                    <p><strong>Price:</strong> {{reservationInfo.price}}</p>

                    <span class="label label-primary" ng-hide="reservationInfo.group">Single reservation</span>
                    <span class="label label-primary" ng-show="reservationInfo.group">Group reservation</span>
                    <span class="label label-default"
                          ng-show="!reservationInfo.allInclusive && reservationInfo.breakfast">Breakfast</span>
                    <span class="label label-default" ng-show="!reservationInfo.allInclusive && reservationInfo.dinner">Dinner</span>
                    <span class="label label-default" ng-show="reservationInfo.allInclusive">All inclusive</span>

                    <h3>Guests</h3>
                    <table class="table table-condensed table-striped">
                        <thead>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Room</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="reservationGuest in reservationInfo.guestsList">
                            <td>
                                {{reservationGuest.guest.personalData.fullName}}
                                <span class="label label-warning" ng-show="reservationGuest.owner">
                                        Owner
                                    </span>
                            </td>
                            <td>{{reservationGuest.guest.personalData.phone}}</td>
                            <td>{{reservationGuest.room.number}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div ng-show="reservationInfo.requestMeals">
                        <h3>Requested Meals</h3>
                        <table class="table table-condensed table-striped" style="max-height:200px;overflow-y:scroll;">
                            <thead>
                            <th>Meal</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="requestMealInfo in reservationInfo.requestMeals">
                                <td>{{requestMealInfo.meal}}</td>
                                <td>{{requestMealInfo.quantity}}</td>
                                <td>{{requestMealInfo.price}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
                -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>