<div class="col-xs-12" id="scheduleContainer" ng-controller="calendarCtrl as ctrl">
    <div class="form-inline">
        <input type="text" id="dateRange" name="dateRange" class="form-control"/>
        <select class="form-control" ng-model="ctrl.selectedRoomType" ng-change="changeRoomType()"
                ng-options="roomTypes.indexOf(item) as item for item in roomTypes">
        </select>
    </div>


    <daypilot-scheduler id="scheduler"
                        config="config"
                        events="events.list"
                        on-event-selected="onEventSelected(args)"
                        on-event-moved="onEventMoved(args)">
    </daypilot-scheduler>


    <div>
        <span class="bold">Scale:</span>
        <a ng-click="setScale('Day')" href="javascript:void(0)">Days</a>
        <a ng-click="setScale('Week')" href="javascript:void(0)">Weeks</a>
    </div>
    <div>
        <div>Event list:</div>
        <ul>
            <li ng-repeat="item in events.list">
                {{item}}
            </li>
        </ul>
        <div>Selected events (click or Ctrl+click to select):</div>
        <ul>
            <li ng-repeat="item in events.selected">
                {{item.text()}} - {{item.start()}}
            </li>
        </ul>
    </div>


    <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            ng-click="resetReservation()"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add reservation</h4>
                </div>
                <div class="modal-body row">


                    <div class="form-group col-sm-12 col-xs-12">
                        <label>
                            <input type="radio" name="isNewGuest" ng-model="isNewGuest" ng-value="false"/>
                            Select existing guest
                        </label>
                        <select class="form-control roles" id="guest" name="guest" ng-model="guests.selectedGuest"
                                ng-options="item as item.personalData.fullName for item in guests.list track by item.id">
                        </select>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group col-sm-12 col-xs-12">
                        <label>
                            <input type="radio" name="isNewGuest" ng-model="isNewGuest" ng-value="true"/>
                            ...or create new
                        </label>
                    </div>

                    <form method="POST" name="reservationForm" novalidate ng-disabled="!isNewGuest">

                        <div class="form-group col-md-6">
                            <label for="fullName">Full Name *</label>
                            <input type="text" class="form-control" id="fullName" name="fullName"
                                   ng-model="reservationGuest.guest.personalData.fullName" minlength="4" maxlength="100"
                                   required="required"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.fullName.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.fullName.$error.required">This field is required</span>
                                <span ng-show="reservationForm.fullName.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.fullName.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phone">Phone Number *</label>
                            <input type="text" class="form-control" id="phone" name="phone"
                                   ng-model="reservationGuest.guest.personalData.phone" ng-pattern="/^[0-9]+$/"
                                   minlength="10" maxlength="20" required="required"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.phone.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.phone.$error.required">This field is required</span>
                                <span ng-show="reservationForm.phone.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.phone.$error.maxlength">Input too long</span>
                                <span ng-show="reservationForm.phone.$error.pattern">Input should contain only digits</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="egn">EGN *</label>
                            <input type="text" class="form-control" id="egn" name="egn"
                                   ng-model="reservationGuest.guest.personalData.egn" ng-pattern="/^[0-9]+$/"
                                   minlength="10" maxlength="10" required="required"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.egn.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.egn.$error.required">This field is required</span>
                                <span ng-show="reservationForm.egn.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.egn.$error.maxlength">Input too long</span>
                                <span ng-show="reservationForm.egn.$error.pattern">Input should contain only digits</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="address">Address *</label>
                            <input type="text" class="form-control" id="address" name="address"
                                   ng-model="reservationGuest.guest.personalData.address" minlength="4" maxlength="200"
                                   required="required"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.address.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.address.$error.required">This field is required</span>
                                <span ng-show="reservationForm.address.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.address.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="identityNumber">Identity Number *</label>
                            <input type="text" class="form-control" id="identityNumber" name="identityNumber"
                                   ng-model="reservationGuest.guest.personalData.identityNumber" ng-pattern="/^[0-9]+$/"
                                   minlength="9" maxlength="9" required="required"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.identityNumber.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.identityNumber.$error.required">This field is required</span>
                                <span ng-show="reservationForm.identityNumber.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.identityNumber.$error.maxlength">Input too long</span>
                                <span ng-show="reservationForm.identityNumber.$error.pattern">Input should contain only digits</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="identityIssueDate">Identity Issue Date *</label>
                            <input type="text" class="form-control" id="identityIssueDate" name="identityIssueDate"
                                   ng-model="reservationGuest.guest.personalData.identityIssueDate" minlength="4"
                                   maxlength="10"
                                   required="required"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.identityIssueDate.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.identityIssueDate.$error.required">This field is required</span>
                                <span ng-show="reservationForm.identityIssueDate.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.identityIssueDate.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="identityIssuedBy">Identity Issued By *</label>
                            <input type="text" class="form-control" id="identityIssuedBy" name="identityIssuedBy"
                                   ng-model="reservationGuest.guest.personalData.identityIssuedBy" minlength="4"
                                   maxlength="50"
                                   required="required"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.identityIssuedBy.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.identityIssuedBy.$error.required">This field is required</span>
                                <span ng-show="reservationForm.identityIssuedBy.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.identityIssuedBy.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="identityExpireDate">Identity Expire Date *</label>
                            <input type="text" class="form-control" id="identityExpireDate" name="identityExpireDate"
                                   ng-model="reservationGuest.guest.personalData.identityExpireDate" minlength="4"
                                   maxlength="10"
                                   required="required"/>
                            <div ng-show="reservationForm.$submitted || reservationForm.identityExpireDate.$touched"
                                 class="validation-message">
                                <span ng-show="reservationForm.identityExpireDate.$error.required">This field is required</span>
                                <span ng-show="reservationForm.identityExpireDate.$error.minlength">Input too short</span>
                                <span ng-show="reservationForm.identityExpireDate.$error.maxlength">Input too long</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-click="addReservation()" class="btn btn-primary">Submit</button>
                    <button type="reset" ng-click="resetReservation()" class="btn btn-default">Reset</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>