<div class="col-xs-12" ng-controller="workingScheduleCtrl as ctrl">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-user-plus"></i> Add Working Schedule</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content form-horizontal form-label-left">
            <form method="POST" name="scheduleForm" novalidate>

                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="date"> Date *</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" id="date" name="date"
                               ng-model="schedule.date" minlength="7" maxlength="10" required="required"/>
                        <div ng-show="scheduleForm.$submitted || scheduleForm.date.$touched"
                             class="validation-message">
                            <span ng-show="scheduleForm.date.$error.required">This field is required</span>
                            <span ng-show="scheduleForm.date.$error.minlength">Input too short</span>
                            <span ng-show="scheduleForm.date.$error.maxlength">Input too long</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="shift">Shift *</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control roles" id="shift" name="shift" ng-model="schedule.shift"
                                ng-options="shifts.indexOf(item) as item for item in shifts"
                                required="required"
                                style="width:100%">
                        </select>
                        <div ng-show="userForm.$submitted || userForm.shift.$touched" class="validation-message">
                            <span ng-show="userForm.shift.$error.required">This field is required</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="employee">Employee *</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control roles" id="employee" name="employee" ng-model="schedule.employee"
                                ng-options="item as item.personalData.fullName for item in ctrl.employees track by item.id"
                                required="required"
                                style="width:100%">
                        </select>
                        <div ng-show="userForm.$submitted || userForm.employee.$touched" class="validation-message">
                            <span ng-show="userForm.employee.$error.required">This field is required</span>
                        </div>
                    </div>
                </div>


                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                        <button type="submit" ng-click="submit(schedule)" class="btn btn-success">Submit</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                        <a type="button" class="btn btn-primary" href="#!/schedule/list">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>