<div ng-controller="workingScheduleCtrl as ctrl">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-calendar"></i> Working Schedule</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link" style="visibility:hidden"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="collapse-link" style="visibility:hidden"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="btn" href="#!/users/add" role="button" aria-expanded="false" title="Create new user"><i
                            class="fa fa-user-plus"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
            <form class="form-inline text-center" ng-submit="reloadTableData()">
                <input class="form-control" id="filterStartDate" ng-model="ctrl.filters.startDate">
                <input class="form-control" id="filterEndDate" ng-model="ctrl.filters.endDate">
                <select class="form-control roles" id="filterRole" name="filterRole" ng-model="ctrl.filters.roleID"
                        ng-options="item.id as item.roleName for item in rolesList" required="required">
                </select>
                <button type="submit" class="btn btn-primary" style="position:relative;top:+3px;"><i
                        class="fa fa-search"></i> Search
                </button>
            </form>
        </div>
        <div class="x_content">
            <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"
                   class="table table-hover" style="width:100%"></table>
        </div>
    </div>
</div>