<div class="col-md-12 col-sm-12 col-xs-12" ng-controller="roomCtrl as ctrl">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-bed"></i> Rooms List</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link" style="visibility:hidden"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="collapse-link" style="visibility:hidden"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="btn" href="#/rooms/add" role="button" aria-expanded="false" title="Create new room"><i
                            class="fa fa-plus"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
            <form name="roomFiltersForm" class="form-inline text-center" ng-submit="reloadTableData()">
                <input type="number" class="form-control" name="number" ng-model="ctrl.filters.number" min="0"
                       max="2000"
                       placeholder="Number"/>
                <select class="form-control roles" ng-model="ctrl.filters.type" title="Type">
                    <option value="{{$index}}" ng-repeat="roomType in roomTypes" ng-selected="$index == filters.type">
                        {{roomType}}
                    </option>
                </select>
                <button type="submit" class="btn btn-primary" style="position:relative;top:+3px;"><i
                        class="fa fa-search"></i> Search
                </button>
            </form>
        </div>
        <div class="x_content">
            <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"
                   class="table table-hover" style="width:100%"></table>
        </div>
    </div>
</div>