<div ng-controller="changeReservationCtrl as ctrl">

    <div class="row booking-search">
        <h2>Change Reservation Details</h2>
    </div>

    <div class="row-fluid">
        <div class="input-group col-lg-4 col-md-6 col-sm-8">
            <input type="text" class="form-control" id="code" name="code" placeholder="Enter reservation code..."
                   ng-model="ctrl.reservation.reservationCode" required="required"/>
            <span class="input-group-btn">
            <button type="button" class="btn btn-default"
                    ng-click="getReservationByCode(ctrl.reservation.reservationCode)">
                <i class="fa fa-search"></i>
            </button>
            <button type="button" class="btn btn-danger" ng-click="clearReservation();">
                <i class="fa fa-times"></i>
            </button>
        </span>
        </div>
    </div>

    <div class="row" id="reservationData">
        <form id="editReservationForm" name="editReservationForm" class="col-md-6" novalidate>
            <div class="form-group">
                <label for="newDateRange">Check in / Check out</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    <input type="text" id="newDateRange" name="newDateRange" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="numberAdults">Adults</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-male" aria-hidden="true"></i>
                        <i class="fa fa-female" aria-hidden="true"></i>
                    </span>
                    <input type="number" id="numberAdults" name="numberAdults" class="form-control"
                           min="1" max="10" ng-model="ctrl.reservation.numberAdults"/>
                </div>
                <div ng-show="editReservationForm.$submitted || editReservationForm.numberAdults.$touched"
                     class="validation-message">
                    <span ng-show="editReservationForm.numberAdults.$error.required">This field is required</span>
                    <span ng-show="editReservationForm.numberAdults.$error.min">Number too small</span>
                    <span ng-show="editReservationForm.numberAdults.$error.max">Number too big</span>
                </div>
            </div>
            <div class="form-group">
                <label for="numberChildren">Children</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
                    <input type="number" id="numberChildren" name="numberChildren" class="form-control"
                           min="0" max="10" ng-model="ctrl.reservation.numberChildren"/>
                </div>
                <div ng-show="editReservationForm.$submitted || editReservationForm.numberChildren.$touched"
                     class="validation-message">
                    <span ng-show="editReservationForm.numberChildren.$error.required">This field is required</span>
                    <span ng-show="editReservationForm.numberChildren.$error.min">Number too small</span>
                    <span ng-show="editReservationForm.numberChildren.$error.max">Number too big</span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" ng-click="saveReservation()">Submit</button>
        </form>
    </div>

</div>