<div class="row booking-search">

    <form id="bookingSearchForm" name="bookingSearchForm" ng-submit="search()">
            <div class="form-group col-xs-12 col-sm-4 xol-md-3 col-lg-3" id="checkDate">
                <label for="dateRange">Check in / Check out</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    <input type="text" id="dateRange" name="dateRange" class="form-control"/>
                </div>
            </div>
            <div class="form-group col-xs-6 col-sm-3 xol-md-2 col-lg-2">
                <label for="numberAdults">Adults</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-male" aria-hidden="true"></i>
                        <i class="fa fa-female" aria-hidden="true"></i>
                    </span>
                    <input type="number" id="numberAdults" name="numberAdults" class="form-control"
                           min="1" max="10" ng-model="filters.numberAdults"/>
                </div>
                <div ng-show="bookingSearchForm.$submitted || bookingSearchForm.numberAdults.$touched"
                     class="validation-message">
                    <span ng-show="bookingSearchForm.numberAdults.$error.required">This field is required</span>
                    <span ng-show="bookingSearchForm.numberAdults.$error.min">Number too small</span>
                    <span ng-show="bookingSearchForm.numberAdults.$error.max">Number too big</span>
                </div>
            </div>
            <div class="form-group col-xs-6 col-sm-3 xol-md-2 col-lg-2">
                <label for="numberChildren">Children</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
                    <input type="number" id="numberChildren" name="numberChildren" class="form-control"
                           min="0" max="10" ng-model="filters.numberChildren"/>
                </div>
                <div ng-show="bookingSearchForm.$submitted || bookingSearchForm.numberChildren.$touched"
                     class="validation-message">
                    <span ng-show="bookingSearchForm.numberChildren.$error.required">This field is required</span>
                    <span ng-show="bookingSearchForm.numberChildren.$error.min">Number too small</span>
                    <span ng-show="bookingSearchForm.numberChildren.$error.max">Number too big</span>
                </div>
            </div>
        <div class="form-group col-xs-6 col-sm-3 xol-md-2 col-lg-3">
            <label></label>
            <div>
                <label for="pets">
                    <input type="checkbox" class="js-switch" id="pets"
                           ng-model="filters.pets"/>
                    Pets
                </label>
                <label for="minibar">
                    <input type="checkbox" class="js-switch" id="minibar"
                           ng-model="filters.minibar"/>
                    Minibar
                </label>
            </div>
        </div>
            <div class="form-group col-xs-12 col-sm-3 xol-md-2 col-lg-2">
                <label></label>
                <button type="submit" class="btn btn-primary btn-block" style="position:relative;top:+4px;"><i
                        class="fa fa-search"></i> Search
                </button>
            </div>
        </form>
</div>
<div class="row booking-results">
    <form name="bookingSubmitForm" class="col-md-8 col-sm-12" ng-submit="selectRooms()">
        <h3>Results:</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Room Class</th>
                <th>Small Beds</th>
                <th>Big Beds</th>
                <th>Extras</th>
                <th>Select</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="res in results">
                <td>{{roomTypes[res.roomClass]}}</td>
                <td>{{res.bedsSingle}}</td>
                <td>{{res.bedsDouble}}</td>
                <td>
                    <span class="label label-primary" ng-show="res.children">Children</span>
                    <span class="label label-primary" ng-show="res.pets">Pets</span>
                    <span class="label label-primary" ng-show="res.minibar">Mininbar</span>
                </td>
                <td>
                    <input type="checkbox" name="selectedRooms[]" value="{{res}}"
                           ng-checked="selectedRooms.indexOf(res) != -1"
                           ng-click="toggleSelection(res)"/>
                </td>
            </tr>
            </tbody>
        </table>

        <button type="submit" class="btn btn-default" ng-disabled="selectedRooms.length == 0">Continue <i
                class="fa fa-hand-o-right"></i></button>
    </form>
</div>