<div class="row booking-search">
    <h2>Fill in your details</h2>
</div>

<form method="POST" name="bookingGuestForm" novalidate class="booking-results">
    <div class="row text-center">
        <label for="breakfast">
            <input type="checkbox" class="js-switch" id="breakfast"
                   ng-model="reservation.breakfast" ng-disabled="reservation.allInclusive"/>
            Breakfast
        </label>
        <label for="dinner">
            <input type="checkbox" class="js-switch" id="dinner"
                   ng-model="reservation.dinner" ng-disabled="reservation.allInclusive"/>
            Dinner
        </label>
        <label for="allInclusive">
            <input type="checkbox" class="js-switch" id="allInclusive"
                   ng-model="reservation.allInclusive"/>
            All Inclusive
        </label>
    </div>

    <div class="row">
        <h3 class="text-center">Room 1</h3>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4">
            <div class="input-group col-md-6 col-sm-6 col-xs-12">
                <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail"
                       ng-model="guest.user.email" required="required"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="getGuestUserByEmail(guest.user.email)">
                        <i class="fa fa-search"></i>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="clearGuestData()">
                        <i class="fa fa-times"></i>
                    </button>
                </span>
            </div>
            <div ng-show="bookingGuestForm.$submitted || bookingGuestForm.email.$touched"
                 class="validation-message">
                <span ng-show="bookingGuestForm.email.$error.required">This field is required</span>
                <span ng-show="bookingGuestForm.email.$error.email">This is not a valid email</span>
            </div>
        </div>
    </div>

    <div class="row" id="guestData">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label for="fullName">Full Name *</label>
                <input type="text" class="form-control" id="fullName" name="fullName"
                       ng-model="guest.personalData.fullName" minlength="4" maxlength="100"
                       required="required" ng-disabled="guestFound"/>
                <div ng-show="bookingGuestForm.$submitted || bookingGuestForm.fullName.$touched"
                     class="validation-message">
                    <span ng-show="bookingGuestForm.fullName.$error.required">This field is required</span>
                    <span ng-show="bookingGuestForm.fullName.$error.minlength">Input too short</span>
                    <span ng-show="bookingGuestForm.fullName.$error.maxlength">Input too long</span>
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label for="phone">Phone Number *</label>
                <input type="text" class="form-control" id="phone" name="phone"
                       ng-model="guest.personalData.phone" ng-pattern="/^[0-9]+$/"
                       minlength="10" maxlength="20" required="required" ng-disabled="guestFound"/>
                <div ng-show="bookingGuestForm.$submitted || bookingGuestForm.phone.$touched"
                     class="validation-message">
                    <span ng-show="bookingGuestForm.phone.$error.required">This field is required</span>
                    <span ng-show="bookingGuestForm.phone.$error.minlength">Input too short</span>
                    <span ng-show="bookingGuestForm.phone.$error.maxlength">Input too long</span>
                    <span ng-show="bookingGuestForm.phone.$error.pattern">Input should contain only digits</span>
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div id="bookCapcha"></div>
                <div ng-show="bookingGuestForm.$submitted" class="validation-message">
                    <span ng-hide="bookCapchaResponse">Please, verify that you are a human!</span>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-12">
            <button type="button" class="btn btn-warning" ui-sref="app.root.home">
                Change rooms
                <i class="fa fa-hand-o-left"></i>
            </button>
            <button type="submit" class="btn btn-primary" ng-click="submitReservation(bookingGuestForm)">
                Continue <i class="fa fa-hand-o-right"></i>
            </button>
        </div>
    </div>
</form>