.actions-column {
    width: 120px;
    max-width: 120px;
}

a.action-btn,
button.action-btn {
    padding: 8px;
}

a > i.fa-refresh,
a > i.fa-history,
a > i.fa-clock-o,
button > i.fa-refresh {
    color: #26B99A;
}

a > i.fa-refresh:hover,
button > i.fa-refresh:hover {
    color: #26DD9A;
}

a > i.fa-trash-o,
button > i.fa-trash-o,
button > i.fa-ban,
button > i.fa-calendar-times-o {
    color: #e55;
}

a > i.fa-ban:hover {
    color: #f77;
}

a > i.fa-user-times {
    color: #a11;
}

.dataTables_filter {
    width: 100%;
}

.checkbox-form > label {
    padding-left: 2px;
}

.buttons-excel, .buttons-excel:hover {
    color: #26B99A;
}

.buttons-pdf, .buttons-pdf:hover {
    color: #e55;
}

.StepTitle {
    text-align: center;
}

.wizard_steps {
    padding-left: 0px;
}

table.table-info > tbody > tr > th {
    text-align: right;
}

table.table-info > tbody > tr > td {
    text-align: left;
}

.img-profile-holder {
    max-width: 100%;
    width: 100%;
    background-image: url('../img/transparency.png');
    background-repeat: repeat;
    margin-bottom: 6px;
    padding: 0px;
    text-align: center;
}

.img-profile-holder img {
    width: inherit;
    max-height: inherit;
    padding: 0px;
    /* box-shadow: 0px 0px 4px #555; */

}

.validation-message span {
    color: #e55;
    font-weight: bold;
}

.scheduler_default_main {
    margin-top: 10px;
}

.scheduler_default_rowheader {
    background-color: white;
}

.scheduler_default_rowheadercol1 {
    background-color: white;
}

.scheduler_default_rowheadercol1 .scheduler_default_rowheader_inner {
    top: 2px;
    bottom: 2px;
    left: 2px;
    background-color: transparent;
    border-right: 5px solid #1ABB9C; /* status: "free" (default), green color */
    border-left: 1px solid #999;
}

.status_dirty.scheduler_default_rowheadercol1 .scheduler_default_rowheader_inner {
    border-right: 5px solid #e55; /* status: "dirty", red color */
}

.status_cleanup.scheduler_default_rowheadercol1 .scheduler_default_rowheader_inner {
    border-right: 5px solid #feda55; /* status: "cleanup", orange color */
}

.scheduler_default_rowheader_inner .bed {
    text-align: center;
    float: left;
    width: 50%;
}

.scheduler_default_rowheader_inner .bed img {
    height: 24px;
}

.legend {
    display: inline-block;
    padding-left: 14px;
}

.legend > div {
    display: inherit;
    margin-right: 5px;
}

.legend > div > div {
    width: 16px;
    height: 32px;
    border: 1px solid black;
    display: inherit;
    vertical-align: middle;
}

.legend > div > div.available {
    background-color: #1ABB9C;
}

.legend > div > div.in-use {
    background-color: #e55;
}

.legend > div > div.for-cleaning {
    background-color: #feda55;
}

.legend > div > span {
    display: inline;
    vertical-align: middle;
}

.login_wrapper {
    display: none;
}

table#mealsTable img {
    height: 64px;
}

table#mealsTable > td.meal-cell {
    width: 128px;
    max-width: 128px;
}

.reservation-print {
    text-align: center;
}

.reservation-print p.total-price {
    border-top: 1px dashed #999;
    padding-top: 5px;
    font-size: larger;
}