<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-calendar-minus-o"></i> Edit Task</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content form-horizontal form-label-left">
            <forcm method="POST" name="taskForm" novalidate>
                <div class="row">
                    <div class="form-group col-sm-8 col-xs-12">
                        <label>Title</label>
                        <input type="text" class="form-control" ng-model="task.title" required/>
                    </div>
                    <div class="form-group col-sm-4 col-xs-12">
                        <label>Priority</label>
                        <select class="form-control" ng-model="task.priority" required>
                            <option ng-value="0">LOW</option>
                            <option ng-value="1">NORMAL</option>
                            <option ng-value="2">HIGH</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Assignee</label>
                    <ui-select ng-model="task.assignee" id="assignee" name="assignee">
                        <ui-select-match>{{$select.selected.personalData.fullName}}</ui-select-match>
                        <ui-select-choices
                                repeat="item in (employees | filter: $select.search) track by item.id">
                            <div ng-bind-html="item.personalData.fullName | highlight: $select.search"></div>
                            <small ng-bind-html="item.user.username | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="startTime">Start TIme *</label>
                        <input type="text" class="form-control" id="startTime" name="startTime"
                               minlength="4" maxlength="10" required="required"/>
                        <div ng-show="taskForm.$submitted || taskForm.targetTime.$touched"
                             class="validation-message">
                            <span ng-show="taskForm.targetTime.$error.required">This field is required</span>
                            <span ng-show="taskForm.targetTime.$error.minlength">Input too short</span>
                            <span ng-show="taskForm.targetTime.$error.maxlength">Input too long</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="finishTime">Finish Time *</label>
                        <input type="text" class="form-control" id="finishTime" name="finishTime"
                               minlength="4" maxlength="10" required="required"/>
                        <div ng-show="taskForm.$submitted || taskForm.dueTime.$touched"
                             class="validation-message">
                            <span ng-show="taskForm.dueTime.$error.required">This field is required</span>
                            <span ng-show="taskForm.dueTime.$error.minlength">Input too short</span>
                            <span ng-show="taskForm.dueTime.$error.maxlength">Input too long</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" minlength="3" maxlength="100" rows="3" required="required"
                              ng-model="task.description" style="resize: vertical;"/>
                </div>

                <div class="form-group">
                    <button type="submit" ng-click="submitTask(task)" class="btn btn-success">Submit</button>
                    <button type="reset" ng-click="resetTask(task)" class="btn btn-default">Reset</button>
                    <a type="button" class="btn btn-primary" ui-sref="loggedin.root.tasks.dashboard">Back</a>
                </div>
            </forcm>
        </div>
    </div>
</div>