<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-user-plus"></i> Add User Form</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content form-horizontal form-label-left">
            <form method="POST" name="userForm" novalidate>
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="username">Username *</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" id="username" name="username" ng-model="user.username"
                               minlength="4" maxlength="32" required="required"/>
                        <div ng-show="userForm.$submitted || userForm.username.$touched" class="validation-message">
                            <span ng-show="userForm.username.$error.required">This field is required</span>
                            <span ng-show="userForm.username.$error.minlength">Input too short</span>
                            <span ng-show="userForm.username.$error.maxlength">Input too long</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="password">Password *</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="password" class="form-control" id="password" name="password"
                               ng-model="user.password" minlength="8" maxlength="16" required="required"/>
                        <div ng-show="userForm.$submitted || userForm.password.$touched" class="validation-message">
                            <span ng-show="userForm.password.$error.required">This field is required</span>
                            <span ng-show="userForm.password.$error.minlength">Input too short</span>
                            <span ng-show="userForm.password.$error.maxlength">Input too long</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="email">E-Mail *</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@mail.com"
                               ng-model="user.email" required="required"/>
                        <div ng-show="userForm.$submitted || userForm.email.$touched" class="validation-message">
                            <span ng-show="userForm.email.$error.required">This field is required</span>
                            <span ng-show="userForm.email.$error.email">This is not a valid email</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="role">Role</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control roles" id="role" name="role" ng-model="user.role"
                                ng-options="roles.indexOf(item) as item for item in roles" required="required"
                                style="width:100%">
                        </select>
                        <div ng-show="userForm.$submitted || userForm.role.$touched" class="validation-message">
                            <span ng-show="userForm.role.$error.required">This field is required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="inputPicture">Profile Picture</label>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="img-profile-holder">
                            <img src="{{user.picture}}" alt="Profile Picture"/>
                        </div>
                        <button type="button" class="btn btn-default" ng-click="chooseProfilePicture()">Change Picture
                        </button>
                        <input type="file" style="display:none" name="inputPicture" id="inputPicture"/>
                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                        <button type="submit" ng-click="submit(user)" class="btn btn-success">Submit</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                        <a type="button" class="btn btn-primary" href="#/users/list">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>